@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.timeline-card {
    display: flex;
    width: 100%;
}

#rts-origins-body {
    background-image:
    url('../public/risk-map.webp');
    background-color:
    rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

#rts-about-body {
    background-image:
            url('../public/dune-bg-what-is.webp');
    background-color:
            rgba(255,255,255,0.2);
    background-blend-mode: lighten;
}

#warcraft3-body, #cnc-body {
    background-color:
            rgba(255,255,255,0.4);

}

#sc-body, #starcraft2-body, #legacy-body {
    background-color:
            rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

#timeline-body {
    background-color:
            rgba(255,255,255,0.1);
    background-blend-mode: lighten;
}


#esports-body {
    background:
            url('../public/sc2-kr-2019-group.webp') top center no-repeat,
            url('../public/SSL_group_select.webp') center no-repeat,
            url('../public/day9-mlg-group.webp') bottom no-repeat;
    background-size:
       contain, cover, contain;
    background-color:
            rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

:root {
    --spaceblue: rgb(42,84,125, 0.7);
    --lightspace: rgb(107, 220, 248, 0.8);
    --gold: #ffb338;
    --light-shadow: #77571d;
    --dark-shadow: #3e2904;
    --before-hover: #ffe7c1;
}

#timeline h1 {
    background: var(--lightspace);
    -webkit-text-stroke: 1px black;
}

.metal-wrapper {
    display: grid;
    grid-template-areas: 'overlap';
    place-content: center;
}

.metal-wrapper > div {
    grid-area: overlap;
}

.metal-bg {
    background-image: repeating-linear-gradient( 105deg,
    var(--gold) 0% ,
    var(--dark-shadow) 5%,
    var(--gold) 12%);
    color: transparent;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.05);
    transform-origin: top;
}
.metal-fg {
    background-image: repeating-linear-gradient( 5deg,
    var(--gold) 0% ,
    var(--light-shadow) 23%,
    var(--gold) 31%);
    color: #1e2127;
    transform: scale(1);
}