@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.timeline-card {
    display: flex;
    width: 100%;
}

#rts-origins-body {
    background-image:
    url(/risk-map.webp);
    background-color:
    rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

#rts-about-body {
    background-image:
            url('/dune-bg-what-is.webp');
    background-color:
            rgba(255,255,255,0.2);
    background-blend-mode: lighten;
}

#warcraft3-body {
    background-color:
            rgba(255,255,255,0.4);
    background-blend-mode: lighten;
}